body {
  margin: 0;
  font-family: 'Comic Sans MS', 'Poppins', sans-serif;
  background: linear-gradient(180deg, #3498db, #e6f7ff); /* biru lebih biru */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #ffe6d8; /* peach light */
  padding: 32px 28px 36px;
  border-radius: 20px;
  text-align: center;
  width: 320px;
}

.hachiware {
  width: 120px;
  display: block;
}

.hachiware-float {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}

.card h1 {
  margin: 0 0 14px;
  font-size: 24px;
}

.card p {
  margin: 0 0 30px; /* JARAK KE TOMBOL */
  font-size: 14px;
}

.btn {
  display: inline-block;
  background: #f26b7a;
  color: white;
  text-decoration: none;
  padding: 12px 26px;
  border-radius: 999px;
  font-weight: bold;
}
